body {
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  position: relative;
}

.slide-contain {
  width: 500vw;
  transition: all 1s;
  /* transform: translateX(-100vw); */
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}
