/* 공통 스타일  */
button {
  cursor: pointer;
  border: none;
  background-color: var(--gray-dark);
  border-radius: 3px;
  color: white;
  font-size: 12px;
  padding: 6px 10px;
  text-align: center;
}

body {
  width: 100vw;
}

.container {
  width: 100%;
  max-width: 1800px;
  background: var(--white);
  padding-top: 30px;
  margin: auto;
  color: var(--white);
}

.M-desc {
  font-size: 14px;
  font-weight: 400;
}

.S-desc {
  font-size: 12px;
  font-weight: 200;
}

.desc-title {
  font-size: 16px;
  font-weight: 600;
}

.imo-bg {
  border-radius: 50px;
  margin: auto;
  background-color: white;
  width: 50px;
  height: 50px;
}

i {
  margin-top: 15px;
}

/* 제일 위 */
.header {
  position: relative;
  width: 100%;
  height: 400px;
  background: linear-gradient(var(--blue-light), var(--blue-dark));
  padding: 30px 50px;
  box-sizing: border-box;
}

.header-img {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.header-img img {
  width: 250px;
  height: 300px;
  display: block;
}

.header-title {
  width: 300px;
  height: 150px;
  font-size: 20px;
}

.header-title p {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 두번재  */
.section {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: var(--black);
}

/* 세번째 */
.article {
  width: 100%;
  height: 200px;
  background-color: var(--blue-dark);
  padding: 20px;
  box-sizing: border-box;
}

.article-desc {
  text-align: center;
}

.article-desc p,
.article-desc h4 {
  margin: 0;
}

.article-imo {
  display: flex;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

.imo {
  flex: 1;
  text-align: center;
}

.fa-solid {
  color: var(--blue-dark);
}
/* 네번째 (이미지 4장)  */

.img-group {
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 100px;
}

.img-desc {
  width: 100%;
  text-align: center;
  color: var(--black);
  margin: 20px 0px 10px 0px;
}

.img-item {
  width: 50%;
  height: 300px;
  background-size: cover;
  float: left;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 60px;
  border: 0px solid var(--white);
}

.item1 {
  background-image: url(../img/portfolio-1.jpg);
}

.item2 {
  background-image: url(../img/portfolio-2.jpg);
}

.item3 {
  background-image: url(../img/portfolio-3.jpg);
}

.item4 {
  background-image: url(../img/portfolio-4.jpg);
}

.img-item:hover {
  border: 30px solid var(--white);
}

/* 다섯번째(제일밑) */
.footer {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 2px;
  margin-bottom: 100px;
  text-align: center;
  clear: both;
}

.footer-imo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer-imo-item {
  width: 40px;
  height: 40px;
  background-color: var(--blue-dark);
  color: var(--white);
  text-align: center;
  margin: 30px;
}

.fa-brands {
  display: block;
  margin: auto;
  margin-top: 12px;
}

.compony {
  color: var(--black);
}

/* 미디어 쿼리  */
@media screen and (max-width: 1200px) {
  .M-desc {
    font-size: 12px;
    font-weight: 400;
  }

  .S-desc {
    font-size: 10px;
    font-weight: 200;
  }

  .desc-title {
    font-size: 14px;
    font-weight: 600;
  }

  .header-title {
    width: 300px;
    height: 100px;
    font-size: 18px;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .M-desc {
    font-size: 10px;
    font-weight: 400;
  }

  .S-desc {
    font-size: 8px;
    font-weight: 200;
  }

  .desc-title {
    font-size: 12px;
    font-weight: 600;
  }

  .header-title {
    width: 250px;
    height: 100px;
    font-size: 16px;
    text-align: center;
    margin: auto;
  }

  .header-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
  }

  .header-img img {
    width: 150px;
    height: 200px;
  }

  .article {
    height: 650px;
  }

  .article-desc {
    margin-top: 20px;
  }

  .article-imo {
    display: block;
  }

  .imo {
    text-align: center;
    margin-top: 30px;
  }

  .img-item {
    width: 100%;
    height: 200px;
    background-size: cover;
    display: block;
    float: none;
  }
}
